[package]
name = "custom-indexer"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.86"
async-trait = "0.1.81"
iota_data_ingestion_core = { git = "https://github.com/iotaledger/iota", package = "iota-data-ingestion-core" }
iota_types = { git = "https://github.com/iotaledger/iota", package = "iota-types" }
prometheus = "0.13.3"
tokio = { version = "1.38.0", features = ["full"] }

[[bin]]
name = "local_reader"
path = "local_reader.rs"

[[bin]]
name = "remote_reader"
path = "remote_reader.rs"

[workspace]
