[package]
name = "iota-package-management"
version.workspace = true
authors = ["IOTA Foundation <contact@iota.org>"]
edition = "2021"
license = "Apache-2.0"
publish = false

[lib]
path = "src/lib.rs"

[dependencies]
anyhow.workspace = true
thiserror.workspace = true
tracing.workspace = true

iota-json-rpc-types.workspace = true
iota-sdk.workspace = true
iota-types.workspace = true

move-core-types.workspace = true
move-package.workspace = true
move-symbol-pool.workspace = true
