.footer {
  background-color: black;
  padding: 1rem;
}

.footerWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--iota-max-width-desktop);
  margin: 0 auto;
  gap: 10rem;
}
.footerLogoWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footerLogo a {
  opacity: 1;
}
.footerContent {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.footerLinks {
  justify-content: flex-end;
  display: flex;
  column-gap: 0.5rem;
}
.footerCopy {
  /* font-family: var(--monoFont); */
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 0.9375rem;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--iota-gray);
  text-transform: uppercase;
}
.footerCopy a {
  color: var(--iota-blue-primary);
}
@media screen and (max-width: 940px) {
  .footer {
    padding: 4.5rem 0;
  }
  .footerWrap {
    flex-direction: column;
    row-gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 2rem;
  }
  .footerLinks {
    justify-content: flex-start;
    display: flex;
    column-gap: 0.5rem;
  }
}
