[package]
name = "transaction-fuzzer"
version = "0.1.0"
authors = ["IOTA Foundation <contact@iota.org>"]
edition = "2021"
license = "Apache-2.0"
publish = false
description = "Tool to fuzz the system with randomly generated transactions"

[dependencies]
move-core-types.workspace = true
once_cell.workspace = true
proptest.workspace = true
proptest-derive.workspace = true
rand.workspace = true
tokio = { workspace = true, features = ["full"] }
tracing.workspace = true

iota-core.workspace = true
iota-move-build.workspace = true
iota-protocol-config.workspace = true
iota-types = { workspace = true, features = ["fuzzing"] }

[dev-dependencies]
iota-core = { workspace = true, features = ["test-utils"] }
iota-protocol-config.workspace = true
iota-types = { workspace = true, features = ["test-utils"] }
