[package]
name = "narwhal-network"
version = "0.1.0"
authors = ["IOTA Foundation <contact@iota.org>"]
edition = "2021"
license = "Apache-2.0"
publish = false

[dependencies]
anemo.workspace = true
anemo-tower.workspace = true
anyhow.workspace = true
async-trait.workspace = true
axum.workspace = true
axum-server = { version = "0.6", default-features = false }
backoff.workspace = true
bytes.workspace = true
crypto = { path = "../crypto", package = "narwhal-crypto" }
dashmap.workspace = true
futures.workspace = true
iota-common.workspace = true
iota-macros.workspace = true
iota-metrics.workspace = true
parking_lot.workspace = true
prometheus.workspace = true
quinn-proto.workspace = true
rand = { workspace = true, features = ["small_rng"] }
tokio = { workspace = true, features = ["rt", "net", "sync", "macros", "time"] }
tower.workspace = true
tracing.workspace = true
types = { path = "../types", package = "narwhal-types" }

[dev-dependencies]
bincode.workspace = true
