[package]
name = "iota-tls"
version = "0.0.0"
authors = ["IOTA Foundation <info@iota.org>"]
edition = "2021"
license = "Apache-2.0"
publish = false
description = "tools for rustls-based certificate generation and verification"

[dependencies]
anyhow.workspace = true
# Axum support
axum.workspace = true
axum-server = { git = "https://github.com/bmwill/axum-server.git", rev = "f44323e271afdd1365fd0c8b0a4c0bbdf4956cb7", version = "0.6", default-features = false, features = ["tls-rustls"] }
ed25519 = { version = "2.2", features = ["pkcs8", "alloc", "zeroize"] }
fastcrypto.workspace = true
pkcs8 = { version = "0.10", features = ["std"] }
rcgen = "0.13"
# reqwest support
reqwest.workspace = true
rustls.workspace = true
tokio.workspace = true
tokio-rustls.workspace = true
tower-layer = "0.3.2"
webpki = { version = "0.102", package = "rustls-webpki", features = ["alloc", "std"] }
x509-parser = "0.14.0"

[dev-dependencies]
rand.workspace = true
