[package]
name = "move-core-types"
version = "0.0.4"
authors = ["Diem Association <opensource@diem.com>"]
edition = "2021"
homepage = "https://diem.com"
license = "Apache-2.0"
publish = ["crates-io"]
repository = "https://github.com/diem/diem"
description = "Core types for Move"

[dependencies]
anyhow.workspace = true
arbitrary = { workspace = true, optional = true }
bcs.workspace = true
enum-compat-util.workspace = true
ethnum.workspace = true
hex.workspace = true
leb128.workspace = true
move-proc-macros.workspace = true
num.workspace = true
once_cell.workspace = true
primitive-types.workspace = true
proptest = { workspace = true, optional = true }
proptest-derive = { workspace = true, optional = true }
rand.workspace = true
ref-cast.workspace = true
serde.workspace = true
serde_bytes.workspace = true
thiserror.workspace = true
uint.workspace = true

[dev-dependencies]
arbitrary = { workspace = true, features = ["derive_arbitrary"] }
proptest.workspace = true
proptest-derive.workspace = true
regex.workspace = true
serde_json.workspace = true

[features]
default = []
fuzzing = ["proptest", "proptest-derive", "arbitrary"]
