[package]
name = "iota-surfer"
version.workspace = true
authors = ["IOTA Foundation <contact@iota.org>"]
edition = "2021"
license = "Apache-2.0"
publish = false

[dependencies]
iota-core.workspace = true
iota-json-rpc-types.workspace = true
iota-move-build.workspace = true
iota-protocol-config.workspace = true
iota-swarm-config.workspace = true
iota-types.workspace = true
test-cluster.workspace = true

async-trait.workspace = true
bcs.workspace = true
clap.workspace = true
futures.workspace = true
indexmap.workspace = true
rand.workspace = true
tokio = { workspace = true, features = ["full", "tracing", "test-util"] }
tracing.workspace = true

move-binary-format.workspace = true
move-core-types.workspace = true
telemetry-subscribers.workspace = true

[dev-dependencies]
iota-macros.workspace = true
iota-simulator.workspace = true
prometheus.workspace = true

move-package.workspace = true
