[package]
name = "iota-move-natives-latest"
version = "0.1.0"
edition = "2021"
authors = ["IOTA Foundation <contact@iota.org>"]
description = "Move framework for iota platform"
license = "Apache-2.0"
publish = false

[dependencies]
better_any.workspace = true
bcs.workspace = true
indexmap.workspace = true
smallvec.workspace = true
rand = { workspace = true, features = ["small_rng"] }

fastcrypto-zkp.workspace = true
fastcrypto-vdf.workspace = true
fastcrypto.workspace = true
move-binary-format.workspace = true
move-core-types.workspace = true
move-vm-types.workspace = true

move-stdlib-natives = { path = "../../../external-crates/move/crates/move-stdlib-natives" }
move-vm-runtime = { path = "../../../external-crates/move/crates/move-vm-runtime" }

iota-protocol-config.workspace = true
iota-types.workspace = true
tracing.workspace = true
