[package]
name = "iota-execution-cut"
version = "0.1.0"
authors = ["IOTA Foundation <contact@iota.org>"]
edition = "2021"
license = "Apache-2.0"
publish = false

[dependencies]
anyhow.workspace = true
clap.workspace = true
thiserror.workspace = true
toml.workspace = true
toml_edit = "0.22"

[dev-dependencies]
expect-test.workspace = true
tempfile.workspace = true

[[bin]]
name = "cut"
path = "src/main.rs"
