.txlinks {
    @apply grid grid-cols-1 gap-1 md:grid-cols-2;
}

.txgridcomponent {
    @apply block grid-cols-1 gap-0 md:grid md:grid-cols-1 md:gap-3;
}

.txevents {
    @apply grid grid-cols-5;
}

.eventtitle {
    @apply pl-2 text-neutral-50;
}

.eventtitle:hover {
    @apply cursor-pointer bg-neutral-92;

    border-radius: 6px;
}

.txeventsleft {
    @apply col-span-1 hidden md:block;

    margin-top: 12.5%;
    line-height: 200%;
    margin-right: 5%;
    border-right: 1px solid #f0f1f2;
}

.txeventsright {
    @apply col-span-5 overflow-y-scroll md:col-span-4;

    max-height: 100vh; /* enables scrolling list independently of page */
}

.txcomponent {
    @apply pb-4 pt-4;
}

.txgridcolspan2 {
    grid-column: span 2;
    border-right: 1px solid #f0f1f2;
    @apply md:border-r-[1px] md:border-[#f0f1f2];
}

.txgridcolspan3 {
    grid-column: span 3;
}

.txsender {
    @apply col-start-2 mt-1 md:col-start-3 md:row-start-1 md:row-end-2;
}

.itemviewtitle,
.txtitle {
    @apply mb-0 mt-5 text-lg  font-[500] text-gray-100;
}

.itemviewcontentlabel {
    @apply text-sm;
}

.itemviewtitle {
    border-bottom: 1px solid #f0f1f2;
    @apply border-b-[1px] border-[#f0f1f2] pb-1 pt-1;
}

.itemfieldstitle {
    @apply border-b-[1px] border-[#f0f1f2] pb-1 pt-1 text-sm;
}

.itemviewcontentvalue {
    @apply inline-flex content-center items-baseline text-sm text-neutral-40 md:block;

    line-break: anywhere;
}

@media (min-width: 40em) {
    .txmodule section:nth-child(2n) {
        border-left: 1px solid #f0f1f2;
        border-right: 1px solid #f0f1f2;
    }
}

.singleitem {
    @apply block sm:grid !important;
}

.mono {
    @apply break-all font-mono text-sm;
}

.txdetailsbg ul {
    @apply mb-2 mt-5;

    border-top: none !important;
}

.packagedetails .itemviewtitle {
    @apply mt-0;

    border-bottom: none;
}

.customhreflink {
    @apply no-underline;
}

.datetime {
    @apply block text-bodySmall font-semibold text-gray-75 sm:inline;
}
