[profile.default]
# Tests should always run.
fail-fast = false

[profile.ci]
# For CI runs only, print failure output both at the error site and at the end.
failure-output = "immediate-final"
# Show skipped tests in the CI output.
status-level = "skip"
# Retry failing tests in order to not block builds on flaky tests
retries = 5
# Timeout tests after 4 minutes
slow-timeout = { period = "60s", terminate-after = 4 }

[profile.narwhalnightly]
# Print out output for failing tests as soon as they fail, and also at the end
# of the run (for easy scrollability).
failure-output = "immediate-final"
# Show skipped tests in the CI output.
status-level = "skip"
# Do not retry failing tests
retries = 0
# Mark tests as slow after 7 hours, kill them right after
slow-timeout = { period = "7h", terminate-after = 1 }

[profile.simtestnightly]
# Print out output for failing tests as soon as they fail, and also at the end
# of the run (for easy scrollability).
failure-output = "immediate-final"
# Show skipped tests in the CI output.
status-level = "fail"
# Mark tests as slow after 20m, terminate after 1h
slow-timeout = { period = "20m", terminate-after = 3 }

[profile.ci.junit]
path = "junit.xml"
