.feedback-container {
  /* margin: 20px; */
}

.feedback-header {
  font-size: 30px;
  margin: 20px 0;
}
.red{
  color: red;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  gap: 5px;
}

.input-field {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea-field {
  padding: 10px;
  font-size: 16px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

[data-theme="light"] .divider {
  border-top: 1px solid var(--ifm-toc-border-color);;
}

.divider {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0;
}

