[package]
name = "iota-telemetry"
version = "0.1.0"
authors = ["IOTA Foundation <contact@iota.org>"]
edition = "2021"
license = "Apache-2.0"
publish = false

[dependencies]
reqwest.workspace = true
serde.workspace = true
tracing.workspace = true

iota-core.workspace = true
