@import '@iota/apps-ui-kit/styles';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    @apply bg-gray-100 dark:bg-gray-900;
    @apply text-gray-900 dark:text-gray-100;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .home-page-grid-container {
        @apply grid grid-cols-1 gap-lg;
        grid-template-areas:
            'balance'
            'staking'
            'migration'
            'coins'
            'vesting'
            'activity';
    }

    @screen sm {
        .home-page-grid-container {
            @apply grid-cols-2;
            grid-template-areas:
                'balance coins'
                'staking migration'
                'vesting vesting'
                'activity activity';
        }
    }

    @screen md {
        .home-page-grid-container {
            @apply grid-cols-3;
            grid-template-areas:
                'balance staking migration'
                'coins vesting vesting'
                'coins activity activity';
        }
    }
}
