@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    @apply bg-gray-100 dark:bg-gray-900;
    @apply text-gray-900 dark:text-gray-100;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
