/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4ca2ff;
  --ifm-color-primary-dark: #2b91ff;
  --ifm-color-primary-darker: #1a88ff;
  --ifm-color-primary-darkest: #006fe8;
  --ifm-color-primary-light: #6db3ff;
  --ifm-color-primary-lighter: #7ebcff;
  --ifm-color-primary-lightest: #afd6ff;
  --ifm-code-font-size: 95%;
  --ifm-background-color-dark: black;
  --ifm-navbar-background-color: #030f1c;
  --ifm-navbar-sidebar-link-color: #141414;
  --ifm-background-color-dark: black;
  --ifm-navbar-background-color: #030f1c;
  --ifm-navbar-height: 4.5rem;
  --ifm-spacing-horizontal: 1.875rem;
  --ifm-font-size-base: 0.9375rem;
  --ifm-line-height-base: 1.5rem;
  --ifm-font-family-base: "Inter", sans-serif;
  --ifm-menu-color: #011829;
  --ifm-menu-color-background-active: transparent;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --iota-black: #111111;
  --iota-blue: #6fbcf0;
  --iota-blue-bright: #00f9fb;
  --iota-blue-light: #e1f3ff;
  --iota-blue-lighter: #b4c2d0;
  --iota-blue-dark: 52 99 151;
  --iota-blue-darker: #303846;
  --iota-hero: #0284ad;
  --iota-hero-dark: #007195;
  --iota-iota-steel: #a0b6c3;
  --iota-steel-dark: #758f9e;
  --iota-steel-darker: #566873;
  --iota-header-nav: #2a4362;
  --iota-success: #2dd7a7;
  --iota-success-dark: #008c65;
  --iota-success-light: #d5f7ee;
  --iota-issue: #ff794b;
  --iota-issue-dark: #eb5a29;
  --iota-issue-light: #ffece5;
  --iota-warning: #f2bd24;
  --iota-warning-dark: #8d6e15;
  --iota-warning-light: #fff8e2;
  --iota-code: #845ed6;
  --iota-gray-35: #fefefe;
  --iota-gray-40: #f7f8f8;
  --iota-gray-45: #ebeced;
  --iota-gray-50: #e9eaeb;
  --iota-gray-55: #d7d8da;
  --iota-gray-60: #c3c5c8;
  --iota-gray-65: #9c9fa4;
  --iota-gray-70: #898d93;
  --iota-gray-75: #767a81;
  --iota-gray-80: #636870;
  --iota-gray-85: #5a6573;
  --iota-gray-90: #383f47;
  --iota-gray-95: #2a3645;
  --iota-gray-100: #182435;
  --iota-link-color: #1068a6;
  --iota-link-color-dark: #057fd1;
  --iota-link-color-light: #1f98e9;
  --iota-ghost-white: #f8f8ff;
  --iota-ghost-dark: #282a36;
  --iota-white: 255 255 255;
  --iota-card-dark: 13 20 37;
  --iota-card-darker: 0 23 49;
  --iota-blue-primary: #4da2ff;
  --iota-gray: #abbdcc;
  --iota-white: #f7f7f8;
  --iota-button-hover: #1a88ff;
  --iota-line: rgba(247, 247, 248, 0.1);
  --iota-max-width-desktop: 1162px;
  --iota-dark-blue-bkg: #011829;

  --primaryFont: "Inter", sans-serif;
  --headerFont: "Twkeverett", sans-serif;
  --monoFont: "Twkeverett Mono", monospace;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #4ca2ff;
  --ifm-color-primary-dark: #2b91ff;
  --ifm-color-primary-darker: #1a88ff;
  --ifm-color-primary-darkest: #006fe8;
  --ifm-color-primary-light: #6db3ff;
  --ifm-color-primary-lighter: #7ebcff;
  --ifm-color-primary-lightest: #afd6ff;
  --ifm-background-color: #030f1c;
  --ifm-menu-color: var(--iota-white);
  --ifm-menu-color-background-active: transparent;
  --ifm-navbar-sidebar-link-color: #f7f7f8;
  --ifm-navbar-sidebar-background-color: black;
}

.active-scroll-spy {
  @apply bg-iota-ghost-white dark:bg-iota-ghost-dark rounded-lg;
}

/* Inverts the image in the stadards/closed-loop-token.mdx in dark mode. */
[data-theme="dark"] img.balance-coin-token {
  filter: invert(1);
}
.table-of-contents__link--active {
  color: #525860;
  font-weight: 600;
}
[data-theme="dark"] .table-of-contents__link--active {
  color: white;
}
/** navbar overrides */
[data-theme="light"] .menu__link {
  color: #525860;
}

[data-theme="light"] .menu__link--active {
  font-weight: bold;
  color: #525860;
}
[data-theme="dark"] .menu__link--active {
  font-weight: bold;
  color: white;
}
.navbar-sidebar,
.menu__link {
  color: rgba(255, 255, 255, 0.7);
}

[data-theme="light"] .menu__link--active {
  font-weight: bold;
  color: #525860;
}

[data-theme="light"] .pagination-nav__label {
  color: var(--iota-gray-100);
  font-weight: 500;
}

[data-theme="light"] .pagination-nav__label--next .pagination-nav__sublabel {
  color: white;
  font-weight: 500;
}
.pagination-nav__label--blue,
.pagination-nav__sublabel--blue {
  color: white;
}
.pagination-nav {
  display: flex;
  justify-content: space-between;
}
[data-theme="light"] .pagination-nav__link {
  border: 1px solid #d8e1f4;
}
.pagination-nav__link {
  background-color: transparent;
  border-radius: 0px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  display: flex;
  align-items: end;
  flex-direction: column;
  width: fit-content;
  min-width: 240px;
}
.pagination-nav__label {
  color: white;
}
.pagination-nav__link--next {
  background-color: #0101ff;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between !important;
}
.page-nav-content-light {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white !important;
  flex-direction: row-reverse;
}
.page-nav-content-blue {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white !important;
}
.page-nav-arrow--light,
.pagination-nav__sublabel--light {
  color: white;
}
.pagination-nav__label--light {
  color: black;
}
[data-theme="dark"] .page-nav-arrow--light,
.pagination-nav__sublabel--light,
.pagination-nav__label--light {
  color: white;
}
[data-theme="light"] .page-nav-arrow--light,
.pagination-nav__label--light {
  color: black;
}
[data-theme="light"] .pagination-nav__sublabel--light {
  color: #909fbe;
}
[data-theme="dark"] .pagination-nav__label--light {
  color: white;
}
[data-theme="dark"] .navbar-sidebar .menu__link--active {
  background-color: rgba(11, 11, 11, 0.607);
  color: var(--iota-gray-100);
}
html[data-theme="dark"] {
  background-color: var(--iota-black);
}
/** setup global style overrides */
body {
  font-family: var(--primaryFont);
}

h1 {
  font-size: 3.375rem;
  line-height: 3.5rem;
  font-family: var(--primaryFont);
  font-weight: 500;
  letter-spacing: -0.04em;
}
.h1 {
  letter-spacing: -2.88px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--headerFont);
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.1;
}

h2 {
  font-family: var(--primaryFont);
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.125rem;
  letter-spacing: -0.04em;
}
.h2 {
  letter-spacing: -1.62px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--headerFont);
  font-size: 3.375rem;
  font-weight: 400;
  line-height: 1.1;
}

h3 {
  font-family: var(--primaryFont);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  letter-spacing: -0.04em;
}

.h3 {
  font-family: var(--headerFont);
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

h4 {
  font-family: var(--headerFont);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}

.h4 {
  font-family: var(--headerFont);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -2%;
}
@media screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 3.5rem;
  }
  h2,
  .h2 {
    font-size: 2rem;
  }
  h3,
  .h3 {
    font-size: 1.5rem;
  }
  h4,
  .h4 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 599px) {
  h2,
  .h2 {
    font-size: 1.7rem;
  }
  h3,
  .h3 {
    font-size: 1.2rem;
  }
  h4,
  .h4 {
    font-size: 1rem;
  }
}

/** Navbar overrides **/
.navbar {
  border-bottom: 1px solid var(--iota-line);
  background-color: black;
}
.navbar__title {
  width: 10px;
}
.navbar__toggle path {
  stroke: var(--iota-white);
}
.navbar__items {
  color: rgba(255, 255, 255, 0.7);
}
.navbar__items .navbar__brand {
  width: 17%;

  color: rgba(255, 255, 255, 0.7);
}
.navbar__items .navbar__item.navbar__link {
  /* font-family: var(--headerFont); */
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
.navbar__items_wrapper {
  display: flex;
  column-gap: 0rem;
}

@media screen and (min-width: 767px) {
  .navbar__items.navbar__items--right {
    min-width: 325px;
  }
}

/** navbar search field **/
.DocSearch-Button-Container {
  width: 100%;
  justify-content: space-between;
}
.DocSearch-Button {
  width: 12.5rem;
  height: 2.625rem !important;
  font-family: var(--headerFont);
  border: solid 1px rgba(247, 247, 248, 0.1) !important;
  border-radius: 2.25rem !important;
  padding: 1rem 1.1rem 1rem 1.25rem !important;
  color: var(--iota-white) !important;
  font-family: var(--primaryFont);
  letter-spacing: -0.01em;
}
@media screen and (max-width: 599px) {
  .DocSearch-Button {
    width: initial;
  }
}
.DocSearch-Search-Icon {
  order: 2;
  margin-left: auto;
}
.DocSearch-Search-Icon path {
  stroke: var(--iota-white);
}
.DocSearch-Button-Keys {
  display: none !important;
}

.grid-card {
  row-gap: 1rem;
  column-gap: 1rem;
}
.markdown h1:first-child {
  margin-top: 1rem;
}

/** Globals **/
.button-cta {
  color: var(--iota-white);
  letter-spacing: -0.3px;
  cursor: pointer;
  border-style: none;
  padding: 0.75rem 1.125rem;
  font-family: var(--primaryFont);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.125rem;
  transition: background-color 0.3s;
  display: flex;
  width: 170px;
  height: 56px;
  padding: 16px 12px 16px 18px;
  border-radius: 2px 0px 0px 0px;
  justify-content: space-between;
  opacity: 0px;
  background: #0101ff;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.button-cta:hover {
  background-color: var(--iota-button-hover);
  color: var(--iota-white);
  text-decoration: none;
}
.button-cta:after {
  content: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5.5H14V14.5' stroke='%23ABBDCC' stroke-width='2'/%3E%3Cpath d='M14 5.5L3 16.5' stroke='%23ABBDCC' stroke-width='2'/%3E%3C/svg%3E");
  width: 18px;
  height: 18px;
  padding-bottom: 2px;
}
@media (max-width: 1050px) {
  .navbar .button-cta {
    display: none;
  }
}

/** colors **/
.text-white {
  color: var(--iota-white);
}
.text-gray {
  color: var(--iota-gray);
}
