name: Cargo deny

on:
  workflow_call:
    secrets:
      SSH_PRIVATE_KEY_IOTA_CI:
        required: true
      SSH_GITHUB_KNOWN_HOSTS:
        required: true

concurrency:
  group: cargo-deny-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  rust-crates:
    name: cargo-deny (advisories, licenses, bans, ...)
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # Pin v4.1.1
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY_IOTA_CI }}
          ssh-known-hosts: ${{ secrets.SSH_GITHUB_KNOWN_HOSTS }}
          use-git-cli: true

  external-crates:
    name: cargo-deny (advisories, licenses, bans, ...)
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # Pin v4.1.1
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY_IOTA_CI }}
          ssh-known-hosts: ${{ secrets.SSH_GITHUB_KNOWN_HOSTS }}
          use-git-cli: true
