name: Docs spellcheck and linting

on: workflow_call

concurrency:
  group: docs-lint-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  spelling:
    name: Lint documentation
    runs-on: [self-hosted]

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # Pin v4.1.1
      - name: Spell Check Docs
        uses: crate-ci/typos@v1.16.11
        with:
          files: ./docs/content
